.login-form {
    margin: 100px auto;
    width: 300px;
    border: 1px solid #000000;
    padding: 20px;
}

.login-form input {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999999;
}

.login-form button {
    background: none;
    border: 1px solid #000000;
    padding: 10px;
}

